.mid{
    margin: 9%;
    margin-bottom: 50px;
    color:  #6E25A7;
    display: flex;
    flex-direction: column;
}

.mid h1,h2,h3{
    padding: 0;
    margin: 0;
}

.mid h1{
    font-size: 45px;
}
.mid h2{
    font-size: 30px;
}
.mid h3{
    font-size: 20px;
}

.list{
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 30px;
}

.but{
    height: 65px;
    box-shadow:0pc 0px 4px rgba(0, 0, 0, 0.25);

}

.but h3{
    font-size: 21px;
    font-weight: 360;
}

.matter{
    background-color: #6E25A7;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 10px 6px;
    border-radius: 10px;
    /* border: 1px solid orange; */

}  

.sub{
    background-color: white;
    display: flex; 
    flex-direction: column; 
    gap: 4px;
    border: 1px solid green;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.sub h3{
    font-size: 18px;
    font-weight: 500;
}

.sub p{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 1.5;
}
.bottom{
    display: flex;
    flex-direction: row;
    margin: 9%;
    margin-top: 0;
    gap: 40px;
    /* border: 1px solid purple; */
}

.content{
    /* border: 1px solid orange; */
    width: 57%;
    background-color: #6E25A7;
    height: 100%;
    border-radius: 10px;
    padding: 14px 6px;
    overflow-y: auto;
    max-height: 500px;

}


@media screen and (max-width:850px) {

    .bottom{
        gap: 20px;
        margin: 8%;
        margin-top: 0;
    }

    .list{
        gap: 15px;
    }

    .but{
        height: 35px;
    }

    .but h3{
        font-size: 10px;
        font-weight: 160;
    }

    .mid h1{
        font-size: 20px;
    }
    .mid h2{
        font-size: 15px;
    }
    .mid h3{
        font-size: 12px;
    }

    .sub h3{
        font-size: 8px;
    }

    .sub p{
        font-size: 6px;
    }

    .content{
        padding: 8px 3px;
        max-height: 300px;
    }


}

